# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Diretórios de build
dist/
build/

# Ambiente
.env

# Sistema operacional e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
**/PsPadBK/

# Git ignore
.gitignore
